.spacing {
    margin-top: 20px;
}

.button {
    background-color: cadetblue;
    color: white;
    border: 0;
    padding: 7px;
    margin: 15px;
    font-style: italic;
}

a {
text-decoration: none;
}