<div>
    <div class="center-align">
        <h1 class="fontStyle">Book Review Competition Schedule 2022</h1>
    </div>
    <div class="center-align animation3" id="table">
        <table cellpadding="5" cellspacing="10" class="cellSize">
            <thead>
                <tr>
                    <th rowspan="2"></th>
                    <th>27/2/2022</th>
                    <th>4/3/2022</th>
                    <th>6/3/2022</th>
                    <th>11/3/2022</th>
                    <th>12/3/2022</th>
                    <th>13/3/2022</th>
                </tr>
                <tr>
                    <th>Sunday</th>
                    <th>Friday</th>
                    <th>Sunday</th>
                    <th>Friday</th>
                    <th>Saturday</th>
                    <th>Sunday</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>11:00 am</td>
                    <td>Result Announcement: Top 30 for Round 1</td>
                    <td>-</td>
                    <td>Result Announcement: Top 15 for Round 2</td>
                    <td>-</td>
                    <td>Result Announcement: Winner and Runner-ups</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>3:00 pm to 5:00 pm</td>
                    <td>Live Instructions Announcement for Round 1</td>
                    <td>-</td>
                    <td>Live Instructions Announcement for Round 2</td>
                    <td>-</td>
                    <td colspan="2">Live Prize Distribution</td>
                </tr>
                <tr>
                    <td>7:00 pm</td>
                    <td>-</td>
                    <td>Closing of Round 1</td>
                    <td>-</td>
                    <td>Closing of Round 2</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
            </tbody>
            <tfoot>
                <td colspan="7">PS: Live sessions will take place on our youtube channel.</td>
            </tfoot>
        </table>
    </div>
